<div class="footer mt-1">
    <hr/>
    <p>A <strong>GEST</strong>LIFES, FINANCE SOLUTIONS FOR YOUR LIFE, é uma marca regista da Embrace Calculus, Unip. Lda,
       com o NIF: 513 476 121 e com sede na Rua de Camões n.111 Sala 11 2ºandar, 4000-144 Porto.
      Encontra-se registada e autorizada pelo Banco de Portugal, como <u>Intermediário de crédito vinculado nº 0001409</u>,
       seguro de responsabilidade civil assegurado pela Hiscox, com a apólice nº 2510343 válido até 18-06-2019.
      A <strong>GEST</strong>LIFES no âmbito das suas funções devidamente autorizadas pelo Banco de Portugal, desdobra-se nas seguintes formas:</p>

      <ul>
        <li>Serviços de comunicação e promoção de produtos de crédito ao consumidor;</li>
        <li>Serviços pré-contratuais (apresentação ou propostas de contratos de crédito a consumidores, assistência a consumidores, mediante a realização
           de atos preparatórios ou outros trabalhos de gestão pré-contratual relativamente a contratos de crédito que tenham sido por si apresentados ou propostos);
        </li>
        <li>Serviços de contratação, traduzidos na celebração de contratos de crédito com consumidores, em nome das entidades que representa;</li>
        <li>Serviços de Consultoria relativamente aos contratos de crédito ao consumidor;</li>
        <li>Tipo de crédito que pode oferecer aos consumidores: Crédito Pessoal - Crédito Consolidado - Crédito Automóvel - Cartão de Crédito.</li>
      </ul>
      <p>A <strong>GEST</strong>LIFES, representa no mercado as seguintes entidades de crédito: COFIDIS - CREDIBOM - CETELEM - UNICRE - MONTEPIO Crédito. <br/>
      A <strong>GEST</strong>LIFES, <u>não pode receber ou entregar quaisquer valores</u> relacionados com a formação, a execução e o cumprimento antecipado dos contratos de crédito.<br/>
      Em caso de litígios, a <strong>GEST</strong>LIFES dispõe dos seguintes meios aos consumidores:</p> 
      <ul>    
      <li>Apresentar reclamação junto do Banco de Portugal;</li>
      <li>No Centro Nacional de Informação e Arbitragem de Conflitos de Consumo (CNIACC), www.cniacct.pt / geral@cniacc.pt / +351 253 619 107;</li>
      <li>No Centro de Informação de Consumo e Arbitragem de Porto (CICAP),www.cicap.pt / cicap@cicap.pt / +351 225 029 791.</li>
    </ul> 
  </div>
