<nav *ngIf="isLoggedIn()" class="navbar navbar-expand-lg navbar-inner">
  <a class="navbar-brand" (click)="redirectTo()" >
    <img src='./assets/img/logo_email_sm.png' style="height: 25px" alt="Gestlifes" />
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-center pr-5" style="color: darkblue; font-weight: 600">
      <span class="fa fa-bars fa-2x"></span>
    </span>
  </button>

  <div class="collapse navbar-collapse mt-3" id="navbarNav" >
    <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn()">
      <li class="nav-item active"> 
        <a class="nav-link small " routerLink="/form" routerLinkActive="active current">
          Processo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link small " routerLink="/docs" routerLinkActive="active current">
          Documentação</a>
      </li>
      <li class="nav-item">
        <a class="nav-link small " routerLink="/cc" routerLinkActive="active current">
           Cartão de Crédito</a>
      </li>
      <li class="nav-item">
        <a class="nav-link small " routerLink="/faq" routerLinkActive="active current">
           FAQs</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item small " routerLinkActive="active">
        <a *ngIf="isLoggedIn()" class="nav-link" routerLink="/change" title="Click para alterar a senha de acesso">
          <i class="fa fa-user"></i> {{loginName}}
        </a>
      </li>
      <li class="nav-item">
        <a *ngIf="isLoggedIn()" class="nav-link  small " (click)="logout()" routerLink="/login"
          title="Click para sair">
          <i class="fa fa-sign-out"></i>Sair</a>
      </li>
    </ul>
  </div>
</nav>