<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active current">
    <img src='./assets/img/logo_email_xs.png' alt="Gestlifes"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Processo <span class="sr-only">)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/docs" routerLinkActive="active">Documentação</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/info" routerLinkActive="active">Pessoal</a>
      </li> 
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
       <a *ngIf="isLoggedIn()" class="nav-link" routerLink="/change" title="Click para alterar dados de acesso">
           <i class="fa fa-user"></i> {{loginName}}</a>     
      </li>
     <li class="nav-item">
    <!--    <a *ngIf="!isLoggedIn()" class="nav-link" routerLink="/login"><i class="fa fa-sign-in"></i> Entrar</a> -->
        <a *ngIf="isLoggedIn()" class="nav-link" (click)="logout()" routerLink="/login" title="Click para sair">
          <i class="fa fa-sign-out"></i>Sair</a>
      </li>
  </ul>
  </div>
</nav>
