.main{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */

}

.header{
    background-image: url("../../assets/img/smartphone_on_hand_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 25vh;
}

.header h2 {
    color: yellow;
    font-size: 1.3rem;
    margin-left: 2em;
    margin-top: .5em;
    text-shadow: 1px 1px 1px; 
}

/* ul{
    list-style-type: square;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */
ul {
    list-style: none;
 }
 li {
   position: relative;
   padding-left: 40px;
 }
 li:before {
   position: absolute;
   top: 5px;
   left: 0;
   content: ' ';
   width: 50px;
   height: 50px;
   background: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg width='18' height='18' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z'/></svg>") no-repeat;
 }
.footer{
    padding: 20px;
    font-size: .6em;
    text-align: justify;
}
@media(min-width: 568px){
    .sec{
        font-size: 1em;
        padding: 0 50px 0 50px;
    }
}
@media(min-width: 992px){
    .sec{
        font-size: 1.25em;
        padding: 20px 50px 20px 50px;
    }
    ul{
        margin-left: 50px;
        margin-bottom: 30px;
        
    }
}
.card{
    box-shadow: 1px 1px 2px darkgray;
    background-color: #fdfdfd;
    
}