<div class="header p-5 mb-3"></div>

<div class="container">


  <div class="card w-75 h-50 mb-3 shadow rounded text-center">
    <!-- Dados do processo -->
    <div class="card-header">
      <a routerLink="/form" style="color: #000b85; text-decoration: none">DADOS DO SEU PROCESSO</a>
    </div>
    <div class="card-body">
      <p class="text-dados">Numero: <strong>{{dados.id}}</strong></p>
      <!-- situação do processo -->
      <p class="text-dados">Estado:
        <strong *ngIf="dados.sts==9"> Anulado por Falta de Documentação</strong>
        <strong *ngIf="dados.sts==38">A Aguardar Documentação</strong>
        <strong *ngIf="dados.sts==36 || dados.sts==10 || dados.sts==11 || dados.sts==22">Em Analise</strong>
        <strong
          *ngIf="dados.sts!=9 && dados.sts!=10 && dados.sts!=11 && dados.sts!=19 && dados.sts!=25 && dados.sts!=23 && dados.sts!=24 
            && dados.sts!=22 && dados.sts!=31 && dados.sts!=36 && dados.sts!=37 && dados.sts!=38">{{dados.status}}</strong>
        <strong *ngIf="dados.sts==19 || dados.sts==25 || dados.sts==31">Recusado</strong>
        <strong *ngIf="dados.sts==23">Aguarda Comprovativo de Pagamento</strong>
        <strong *ngIf="dados.sts==24">Financiado</strong>

      </p>
      <!-- data da situação -->
      <p class="text-dados small">Data: {{dados.datastatus}}</p>

      <!-- informações e ações -->
      <div class="text-center p-3" *ngIf="dados.sts==8 || dados.sts==21 || dados.sts==38">
        <a routerLink="/docs" class="btn btn-primary">Anexar Documentos</a>
      </div>
      <p *ngIf="dados.sts==4 || dados.sts==5 || dados.sts==14 || dados.sts==15"
        class="border border-info rounded-lg p-1 small">{{rejeicoes.motivo}}<br />{{rejeicoes.outro}} </p>
      <p *ngIf="dados.sts==19 || dados.sts==25 || dados.sts==31" class="border border-info rounded-lg p-1 small">
        {{rejeicoes.motivo}}<br />{{rejeicoes.outro}} </p>
      <p *ngIf="creditos.dtcontratocliente && dados.sts==16" class="border border-info rounded-lg p-1">
        <small *ngIf="!creditos.dtcontratoparceiro && creditos.dtcontratocliente">O contrato foi-lhe enviado por
          {{creditos.formaenvio}} em {{creditos.dtcontratocliente}} </small>
        <small *ngIf="creditos.dtcontratoparceiro">Contrato enviado para o parceiro em {{creditos.dtcontratocliente}}
        </small>
      </p>
      <p *ngIf="dados.sts==23" class="border border-info rounded-lg p-1 small"><a routerLink="/comp">Ver comprovativos
          necessários</a>
      </p>
      <p *ngIf="(dados.sts >= 10 && dados.sts <= 13) || dados.sts==36" class="border border-info rounded-lg p-1 small">
        O seu pedido de crédito está a ser analisado. Por favor aguarde. Obrigado.
      </p>

    </div>
  </div>

  <!-- Simulação de Credito-->
  <div class="card w-75 h-50 mb-3 shadow rounded text-center"
    *ngIf="dados.sts!=16 && dados.sts!=17 && dados.sts!=23 && dados.sts!=24">
    <div class="card-header">
      <a routerLink="/form2" style="color: #000b85; text-decoration: none">SIMULAÇÃO DO CRÉDITO</a>
    </div>
    <div class="card-body">
      <p>
        Tipo de Crédito:
        <strong *ngIf="credito.tipocredito==='CP'"> Crédito Pessoal</strong>
        <strong *ngIf="credito.tipocredito==='CC'"> Crédito Consolidado</strong>
        <strong *ngIf="credito.tipocredito==='AU'"> Crédito Automovél</strong>
      </p>

      <p>Valor pretendido: <strong> {{credito.valorpretendido | currency:'€'}}</strong></p>
      <p>Prazo: <strong> {{credito.prazopretendido}} Meses</strong></p>
<!--       <p *ngIf="dados.sts==16 || dados.sts==17 || dados.sts==23 || dados.sts==24">Prestação:
        <strong> {{credito.prestacaopretendida}} €/Mês</strong></p> -->
    </div>
  </div>
  <!--AProvado ou Financiado-->
  <div class="card w-75 h-50 m-1 text-center" *ngIf=" dados.sts==16 || dados.sts==17 || dados.sts==23 ||
    dados.sts==24">
    <div class="card-header">
      <a routerLink="/form2" style="color: #000b85; text-decoration: none">DADOS DO CRÉDITO</a>
    </div>
    <div class="card-body">
      <p>Tipo de Crédito: 
        <strong *ngIf=" creditos.tipocredito==='CP'"> Crédito Pessoal</strong>
        <strong *ngIf=" creditos.tipocredito==='CC'"> Crédito Consolidado</strong>
        <strong *ngIf=" creditos.tipocredito==='AU'"> Crédito Automovél</strong>
      </p>
        <p>Valor : <strong> {{creditos.montante | currency:'€'}}</strong></p>
        <p>Prazo: <strong> {{creditos.prazo}} Meses</strong></p>
        <p>Prestação: <strong> {{creditos.prestacao}} €/Mês</strong></p>
    </div>
  </div>

  <!-- Responsaveis  pelo processo-->
  <div class=" card w-75 h-50 mb-3 shadow rounded text-center">
      <div class="card-header">
        <span style="color: #000b85;">RESPONSAVEIS</span>
      </div>
      <div class="card-body">
        <p>Gestor: <strong> {{responsavel.gestor}}</strong></p>
        <p>Telefone: 
          <span class="tel">
            <strong> {{responsavel.telefone}} </strong><span class="fa fa-phone"></span>
          </span>
        </p>
        <p class="text-center text-dados"><strong> {{responsavel.email}}</strong></p>
        <p class="text-center text-dados" *ngIf="responsavel.analista">Analista: 
          <strong> {{responsavel.analista}}</strong>
          | <span class="fa fa-phone"><span class="tel"> {{responsavel.telefoneAnalista}}</span> </span>
        </p>

        <p class="text-center text-dados p-5">Poderá entrar em contacto com a Gestlifes
          através do nosso numero geral:<span class="phone"> (+351) 220 931 950</span> no horario 9h30 ás 19h00.
        </p>
      </div>
    </div>



  </div>