  <div class="header pb-5">
    <h3 class="text-center pt-3">DADOS DO SEU PROCESSO</h3>
    <p>&nbsp;</p>
    <div class="ml-3">
      <h6 class="text-dados">Numero: <strong>{{dados.lead}}</strong></h6>
      <h6 class="text-dados">Situação: <strong>{{dados.status}}</strong>
        <small class="pull-right pr-3" *ngIf="dados.sts==8"><a class="">Anexar</a></small>
      </h6>
      <h6 class="text-dados">Data da Situação: <strong>{{dados.datastatus}}</strong></h6>
    </div>

  </div>
  <div class="simula p-3">
      <h4 class="text-center">
        SIMULAÇÃO DO CRÉDITO
      </h4>

      <h6 class="text-center">
          <strong *ngIf="dados.tipocredito==='CP'" >Crédito Pessoal</strong>
          <strong *ngIf="dados.tipocredito==='CC'" >Crédito Consolidado</strong>
          <strong *ngIf="dados.tipocredito==='AU'" >Crédito Automovél</strong>
      </h6>
      <ul class="pt-1">
        <li class="pl-3">Valor pretendido: <strong class="pull-right pr-5">{{dados.valorpretendido | currency:'€'}}</strong></li>
        <li class="pl-3">Prazo: <strong class="pull-right pr-5">{{dados.prazopretendido}} dias</strong></li>
        <li class="pl-3">Prestação: <strong class="pull-right pr-5">{{dados.prestacaopretendida}} €/Mês</strong></li>
      </ul>
  </div>
  <div class="repons p-3 text-dados">
    <h5 class="text-center">RESPONSAVEIS PELO PROCESSO</h5>
    <h6>Gestor: <strong>{{dados.gestor}} | <span class="fa fa-phone"> {{dados.telefonegestor}}</span> | <span> @email</span></strong></h6>
    <h6>Analista: <strong *ngIf="!analista">não atribuido</strong></h6>

    <p><small>Poderá entrar em contacto com a Gestlifes através do nosso numero geral: (+351) 222 333 444 no horario 9:30h ás 19:00h.</small></p>

  </div>