

@media(min-width: 592px){
    .text-doc{
        font-size: .8rem;
    }
}
@media(min-width: 800px){
    .text-doc{
        font-size: 1rem;
    }
}
.header{
    background-image: url("../../assets/img/documentos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 25vh;
}

h2, h6{
    text-shadow: 0.1px 0.2px;
}