<!--Desktop-->
<div class="container-fluid d-none d-md-flex flex-wrap">
    <img style="width: 100%" src="./assets/CCimg/condicoes_CC_F1.png" alt="Folheto Cartão Crédito"/>
    <hr/>
    <img style="width: 100%" src="./assets/CCimg/condicoes_CC_F2.png" alt="Folheto Cartão Crédito"/>
</div>
<!-- Mobile -->
<div class="container-fluid d-flex d-md-none flex-wrap">
    <img style="width: 100%" src="./assets/CCimg/condicoes_CC_3.png" alt="Folheto Cartão Crédito"/>
    <img style="width: 100%" src="./assets/CCimg/condicoes_CC_1.png" alt="Folheto Cartão Crédito"/>
    <img style="width: 100%" src="./assets/CCimg/condicoes_CC_2.png" alt="Folheto Cartão Crédito"/>
    <img style="width: 100%" src="./assets/CCimg/condicoes_CC_4.png" alt="Folheto Cartão Crédito"/>
    <img style="width: 100%" src="./assets/CCimg/condicoes_CC_5.png" alt="Folheto Cartão Crédito"/>
    <img style="width: 100%" src="./assets/CCimg/condicoes_CC_6.png" alt="Folheto Cartão Crédito"/>
</div>
<div class="d-flex justify-content-center mt-5">
  <a class="btn btn-primary btn-lg" (click)="registerDownload()" href="./assets/CCimg/GESTLIFES-Contrato Adesão UNIBANCO Mod_217_ABR19.pdf" target="_blank"><i class="fa fa-download fx-2x"></i> Descarregue Contrato</a>
</div>
<div class="d-flex justify-content-center mt-3">
  <h6>Veja as instruções de preenchimento e envio no contrato</h6>
</div>
<div class="d-flex justify-content-center mt-3">
    <h4>Envio GRÁTIS</h4>
</div>